* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.nft-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  position: relative;

  border-radius: 15px;
  background: hsl(216, 50%, 16%);
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 596px;
  margin: 50px auto 0 auto;
  overflow: hidden;
  padding: 24px;
}

.nft-card-img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.nft-img-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 302px;
  height: 302px;
  background-color: #00fff783;
  border-radius: 8px;
  opacity: 0;
}

.nft-card-header {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.nft-card-text {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 24px;
}

.nft-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.nft-price {
  display: flex;
  align-items: center;
}

.nft-offer-time {
  display: flex;
  align-items: center;
}

.ethereum-icon {
  margin-right: 7px;
}

.nft-price {
  color: hsl(178, 100%, 50%);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.clock-icon {
  margin-right: 8px;
}

.nft-offer-time-text {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  border: 0.5px solid hsl(215, 32%, 27%);
  margin-bottom: 16px;
}

.nft-author {
  display: flex;
  align-items: center;
}

.nft-author-img {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  border: 1px solid hsl(0, 0%, 100%);
  margin-right: 10px;
}

.nft-author-name {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nft-author-text {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
}

/* Hover effects */
.nft-img-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.nft-card-header:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.nft-author-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
