/* || GENERAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* height: 100vh; */
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

/* || MAIN CSS */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  border-radius: 1.5rem;
  background: hsl(216, 50%, 16%);
  box-shadow: 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  margin: 5rem auto 0 auto;
  padding: 2.4rem;
}

.card__img {
  max-width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
}

.card__img__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30.2rem;
  height: 30.2rem;
  background-color: #00fff783;
  border-radius: 0.8rem;
  opacity: 0;
}

.card__header {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.6rem;
}

.card__text {
  color: hsl(215, 51%, 70%);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}

.card__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.card__details__first {
  display: flex;
  align-items: center;
}

.card__details__second {
  display: flex;
  align-items: center;
}

.ethereum-icon {
  margin-right: 0.7rem;
}

.card__details__first__price {
  color: hsl(178, 100%, 50%);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.clock-icon {
  margin-right: 0.8rem;
}

.card__details__second__text {
  color: hsl(215, 51%, 70%);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__line {
  border: 0.05rem solid hsl(215, 32%, 27%);
  margin-bottom: 1.6rem;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__author__img {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3.3rem;
  border: 0.1rem solid hsl(0, 0%, 100%);
  margin-right: 1rem;
}

.card__author__text {
  color: hsl(215, 51%, 70%);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.5rem;
}

.card__author__name {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* || HOVER STATES */

.card__img__overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.card__header:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card__author__name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
